:root{
    /* Primary colors */

--soft-blue: hsl(231, 69%, 60%);
--soft-red: hsl(0, 94%, 66%);

    /* Neutral colors */

--grayish-blue: hsl(229, 8%, 60%);
--very-dark-blue: hsl(229, 31%, 21%);
--trans-dark-blue: hsla(229, 31%, 21%, 0.4);

font-size: 18px;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    color: var(--grayish-blue);
    text-align: center;
}

/* utility classes */
/* ----------------------------------- */

h1, h3, h4{
    margin-bottom: 0.8rem;
    color: var(--very-dark-blue);
}

p, img{
    margin-bottom: 1.5rem;
    /* font-size: 0.9rem; */
}

section{
    margin-bottom: 1.5rem;
}

.component-margin{
    margin-bottom: 6rem;
}

button{
    border: none;
    outline: none;
    margin: 0 0.5rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    background-color: var(--soft-blue);   
    cursor: pointer; 
}

.content-container{
    padding: 1rem;
    position: relative;
}

.feature-image{
    width: 100%;
    object-fit: fill;
}

/* navbar */
/* ----------------------------------- */

nav{
    /* border: 1px solid red; */
    height: 40px;
    transition: transform 2s;
}

nav img:first-child{
    float: left;
}

nav img:nth-child(2){
    float: right;
}

nav .flip{
    transform: rotate(90deg);
}

/* Pop up nav */
/* ----------------------------------- */

.pop-up-nav{
    position: fixed;
    top: 0;
    left: 3000px;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background-color: var(--soft-red);
    padding: 1.5rem;
    background-color: var(--very-dark-blue);
    opacity: 0.9;
    transition: left 2s;
}

.show{
    left:0
}

.pop-up-nav header{
    text-align: left;
}

.pop-up-nav header img:first-child{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(100%) contrast(108%);

}

.pop-up-nav header img:last-child{
    float: right;
}

.pop-up-nav .menu{
    display: flex;
    flex-direction: column;
    position: relative;
}

.pop-up-nav .menu button{
    margin: 0.5rem;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid var(--grayish-blue);
    text-transform: uppercase;
    border-radius: 0;
    padding: 1.2rem;
}

.pop-up-nav .menu button:first-child{
    border-top: 1px solid var(--grayish-blue);
    padding-top: 1.5rem;
}

.pop-up-nav .menu button:hover{
    border: 3px solid white;
    border-radius: 5px;
}

.pop-up-nav > img:first-of-type{
    position: absolute;
    /* margin: 2rem; */
    left:60%;
    bottom: 2rem;
}

.pop-up-nav > img:last-of-type{
    position: absolute;
    left: 40%;
    bottom: 2rem;
    /* margin: 2rem; */
}

/* hero feature */
/* ----------------------------------- */

.hero-feature{
    position: relative;
}

/* .hero-feature h1{
    font-size: 1.7rem;
} */


.hero-feature section:last-child button{
    border: none;
    outline: none;
    margin: 0 0.5rem;
    padding: 0.7rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    box-shadow: 0px 2px 5px var(--grayish-blue);
}

.hero-feature section:last-child button:last-child{
    background-color: whitesmoke;
    color: var(--very-dark-blue);
}

/* .hero-feature section:last-child button:hover{
    background-color: var(--soft-blue);
    color: gray;
    box-shadow: none;
} */

/* features component */
/* ----------------------------------- */


.features p{
    margin-bottom: 2.5rem;
}

.features span{
    display: block;
    border-bottom: 1px solid var(--grayish-blue);
    padding: 0.3rem 0;
}

.features span:first-of-type{
    border-top: 1px solid var(--grayish-blue);
}

.features span button{
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: white;
    color: var(--grayish-blue);
    border-radius: 0;
    height: 100%;
    
}

.features span button:hover{
    border-bottom: 3px solid red;
}


/* ************* hover effect */

.features section:last-child img{
    margin: 2rem 0;
}




/* Download component */
/* ----------------------------------- */

.download section:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.download .card{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    width: 45%;
    min-width: 300px;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--grayish-blue), -1px 0px 5px var(--grayish-blue);
}

.download .card img{
    display: inline-block;
    margin: 1rem;
}

.download .card button{
    margin-top: 0.5rem;
}


/* FAQ component */
/* ----------------------------------- */

.faq section:last-child > div{
    border-bottom: 1px solid var(--grayish-blue);
    margin-bottom: 1rem;
}

.faq .questions{ 
    padding: 0.5rem 0;
    text-align: left;
    height: 3rem;
    overflow: hidden;
    /* transition: height 2s linear; */
}

.faq .questions > p{
    display: inline-block;
    left: 0;
    color: var(--very-dark-blue);
    font-size: 0.9rem;
   
}  

.faq .questions img{
    margin-top: 0.1rem;
    right: 0;
    float: right;
}

.faq .open {
    height: auto;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(100%) contrast(108%);

}

.faq .questions .flip{
    transform: rotate(180deg);
    color: var(--soft-red);
}

.faq section:last-child button{
    margin-top: 1.2rem;
}


/* contact component */
/* ----------------------------------- */

.contact{
    background-color: var(--soft-blue);
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h3{
    color: white;
}

.contact input{
    display: block;
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.8rem;
    margin-bottom: 1rem;
    width: 100%;
}

.contact button{
    background-color: var(--soft-red);
    width: 100%;
}



/* footer component */
/* ----------------------------------- */

.footer{
    padding: 3rem;
    color: white;
    background-color: var(--very-dark-blue);
    margin-bottom: 1rem;
}

.footer img:first-child{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(100%) contrast(108%);
}

.footer p{
    text-transform: uppercase;
}

.footer .icons{
    margin: 0 1rem;
}

/* feature background component */
/* ----------------------------------- */



/* attribution component */
/* ----------------------------------- */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

